.overlay {
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
}

.messagebox {
	display: block;
	width: 35%;
	height: 500px;
	margin: 40px auto;
	background-color: $white;
	z-index: 2;
}

.message {
	display: block;
	padding: 20px;
	top: 50%;
	font-size: 3em;
	text-align: center;
}